
@model HW7_Barron_Amanda.Models.Order
@using HW7_Barron_Amanda.Models
@{
    ViewData["Title"] = "Details";
}
<h2>Details</h2>
<div>
    <h4>Order</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.OrderNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.OrderNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.OrderDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.OrderDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.OrderNotes)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.OrderNotes)
        </dd>
    </dl>
</div>
<div>
    <h4>Orders</h4>
    <table class="table table-sm table-hover table-striped">
        <thead>
            <tr>
                <th>Order Name</th>
                <th>Order Price</th>
                <th>Order Quantity</th>
                <th>Extended Price</th>
            </tr>
        </thead>
        <tbody>
            @foreach (OrderDetail rd in Model.OrderDetails)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => rd.Product.ProductName)</td>
                    <td>@Html.DisplayFor(modelItem => rd.Product.ProductPrice)</td>
                    <td>@Html.DisplayFor(modelItem => rd.OrderQuantity)</td>
                    <td>@Html.DisplayFor(modelItem => rd.ExtendedPrice)</td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div>
    <table class="table table-sm table-bordered" style="width:30%">
        <tr>
            <th colspan="2" style="text-align:center">Order Summary</th>
        </tr>
        <tr>
            <td>Order Subtotal</td>
            <td>@Html.DisplayFor(r => r.OrderSubtotal)</td>
        </tr>
        <tr>
            <td>Sales Tax</td>
            <td>@Html.DisplayFor(r => r.SalesTax)</td>
        </tr>
        <tr>
            <td>Order Total</td>
            <td>@Html.DisplayFor(r => r.OrderTotal)</td>
        </tr>
    </table>
</div>


<div>
    <a asp-action="Edit" asp-route-id="@Model.OrderID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
